*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
  }

body{
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}
a{
  text-decoration: none;
  color: #006DD0;
}
a:focus{
  outline: none;
}
label{
  margin: 7px 0;
  color: #7B7B7B;
  font-weight: 500;
}
textarea{
  border: 1px solid #B0B0B1;
}
.form-control{
  border-radius: 0 !important;
}
 .form-check-input{
  margin: 11px 0;
}
.form-control{
  border: 1px solid #B0B0B1 !important;
}
.input-group-prepend{
  border: 1px solid #ccc !important;
 border-top-right-radius: 0.375rem !important;
 border-bottom-right-radius: 0.375rem!important; 
}
.input-group-icon{
  margin: 10px;
}
.btn-border-color{
  border: 1px solid #CECACA;
}
.text-black{
  color: #000000;
}
/* Navigation bar */
.navbar{
background-color: #087E8B;
color: #BFD7EA;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
  color: #ff5a5f !important;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.wrap .searchTerm {
  width: 100%;
  border: 3px solid #fff;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.wrap .searchTerm:focus{
  color:  #087E8B;
}

.wrap .searchButton {
  width: 52px;
  height: 36px;
  border: 1px solid #fff;
  background:  #087E8B;;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.navbar-toggler{
  border: none;
  padding: 10px;
}

.navbar-toggler-icon {
  width: 1em;
  height: 1em;
  background-image: url('../images/icon/hambur.png'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  border: none; 
}


/*Resize the wrap to see the search bar change!*/
nav .wrap {
  width: 18%;
  position: absolute;
  /* top: 50%; */
  left: 70%;
  transform: translate(-50%, -50%);
}

.user .dropdown-menu{
  padding: .5rem 0rem;
  text-align: center;
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
}

/* Footer css */
.f-car{
  width: 85px;
}
footer h5,
footer ul li a{
  color: #7B7B7B;
}
footer ul li{
  margin: 10px 0;
}
footer h5{
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
}
.h-logo,
.f-logo{
  width: 157px;
}
.f-logo{
  margin-top: -10px;
}


    /* Close button (X) */
    .close-btn {
      position: absolute;
      top: 8px;
      right: 18px;
      font-size: 32px;
      cursor: pointer;
      background-color: transparent;
      border: none;
      color: #333;
    }

    .close-btn:hover {
      color: red; /* Change color on hover */
    }
 .swiper {
  width: 100%;
  height: 100%;
}


.p-list  .searchTerm {
  width: 100%;
  border: 1px solid  #C4C4C4;
  border-right: none;
  padding: 10px 20px;
  border-radius: 22px 0 0 22px;
  outline: none;
  color: #9DBFAF;
  height:calc(1.9em + 0.75rem + 2px) !important ;
}
.p-list  .searchButton {
  width: 60px;
  border-right: 1px solid #C4C4C4;
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
  border-left: none;
  background: transparent;
  text-align: center;
  color: #B0B0B1;
  border-radius: 0 22px 22px 0;
  cursor: pointer;
  font-size: 20px;
  /* height: calc(1.5em + 0.75rem + 2px) !important; */
}
.list-search .searchButton .fa-search{
  background-color: #000000;
}
.active>.page-link{
  color: white;
  background-color: #FF5A5F;
  border-radius: 50%;
}
.page-link:active{

  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #000000;
}

/* List Item css */
.wishlist-icon {
  font-size: 20px;
  color: red; /* Color of the heart icon */
  cursor: pointer; /* Make the heart icon clickable */
  border: none !important;
  background-color: transparent;
}
#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.select-with-icon {
  background-image: url('../images/icon/Filter\ 1.png'); /* Replace with your icon */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Adjust as needed */
  padding-right: 35px; /* Adjust the padding to make space for the icon */
  background-size: 20px 20px; /* Adjust the size of the icon */
}

/* Product card css */
.product-card {
  position: relative;
  /* box-shadow: 0 2px 7px #dfdfdf; */
  background: #fafafa;
  opacity: 0;
  animation: fadeIn 2s;
  border: none;
  /* animation-delay: 3s; */
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {opacity: 0;}
  to{opacity: 1;}
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  /* background: #f0f0f0; */
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-details {
  padding: 10px;
  font-size: 13px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}



.product-details .book-title:hover {
  color: #FF5A5F;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.card-footer{
  background-color: transparent;
  border: none;
}

/* Product Details CSS */
.save{
  width:198px;
height: 51px;
}
.btn-red {
  background-color: #FF5A5F;
  border: none;
  color: white;
  text-align: center;
  border-radius: 26px;
  font-weight: 600;
  transition: all 0.3s ease-in;
}
  @media (max-width: 1536px) {
    .j-logo{
      width: 278px;
    }


  }
  @media (max-width: 1366px) {
    nav .wrap {
      width: 40%;
    }
    .j-logo{
      width: 278px;
    }

  }
  @media (max-width: 1280px) {
.user .dropdown-item {
  padding: 0.75rem 3.25rem;
}

  }
@media (max-width: 1024px) {
  .hero-section{
    height: 250px;;
  }
  footer h5 {
    margin-bottom: 13px;
    font-size: 16px;
    font-weight: 600;
}
.logos {
  padding: 25px 0;
}
  .h-logo, .f-logo {
    width:
     127px;
}
.user{
  margin-right: 30px;
}


}
@media (min-width: 768px) {

.contact-details{
  display: grid; 
  grid-template-columns: repeat(1 , 1fr);
   gap:10px;
}
}
@media (max-width: 768px) {
  .h-logo, .f-logo {
  margin-left: -10px;
}
  nav .wrap {
    position: relative;
    left: 0%;
    transform: translate(0%, 0%);
  }
  .login-section{
    flex-direction: column;
    row-gap: 10px;
  }
  .login-section a{
    margin: 0;
  }
  .login-section .postButton{
    width: 15%;
  }
  .user{
    margin-right: 5px;
  }
  nav .wrap {
    width: 80%;
}
.nav-item.search{
  width:80%;
}
.dropdown-menu[aria-labelledby="languageDropdownToggle"] {
  width: 100px;
}
}
@media (max-width: 412px) {
  
}
@media (max-width: 360px) {

  .search {
    width: 93%;
}
}
